a {
    text-decoration: none;

    &.primary {
        padding: 15px 30px;
        border: 1px solid;
        border-radius: 50px;
    }

    &.secondary {
        border-bottom: 1px solid;
    }
    
    &.light {
        color: $light;
        border-color: $light;
    }

    &.dark {
        color: $dark;
        border-color: $dark;
    }

    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
        
        &.light {
            color: $light;
        }

        &.dark {
            color: $dark;
        }
    }
}
