a {
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid;

    &.btn {
        padding: 15px 30px;
        border: 1px solid;
        border-radius: 50px;
    }
    
    &.light {
        color: $light;
        border-color: $light;
    }

    &.dark {
        color: $dark;
        border-color: $dark;
    }

    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
        
        &.light {
            color: $light;
        }

        &.dark {
            color: $dark;
        }
    }
}
