body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: $hero-heading-mobile;

    @media only screen and (min-width: 520px) {
        font-size: $hero-heading-tablet;
    }

    @media only screen and (min-width: 1270px) {
        font-size: $hero-heading;
    }
}

h2 {
    font-size: $content-heading-mobile;

    @media only screen and (min-width: 520px) {
        font-size: $content-heading-tablet;
    }

    @media only screen and (min-width: 1270px) {
        font-size: $content-heading;
    }
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p, a {
    font-weight: 500;
    font-size: $content-mobile;
    letter-spacing: .5px;
    line-height: 2;


    @media only screen and (min-width: 520px) {
        font-size: $content-tablet;
    }

    @media only screen and (min-width: 1270px) {
        font-size: $content;
    }
}

small {
    font-family: 'Cousine', monospace;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
