// Colors
$content-dark: #081523;
$eyebrow-green: #01FDAB;
$eyebrow-blue: #0262F0;
$dark: #010203;
$light: #FFF;
$hero-gradient-start: #091523;
$hero-gradient-end: #0E253F;

// Typography
$hero-heading: 64px;
$content-heading: 52px;
$content: 20px;
$menu-items: 28px;

$hero-heading-mobile: 48px;
$content-heading-mobile: 32px;
$content-mobile: 16px;
$menu-items-mobile: 20px;

// Spacing
$gutter-width: 40px;
$gutter-height: 40px;
$header-height: 120px;
