.content {
    padding: $gutter-height * 2 $gutter-width;

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-image {
        flex: 1;
        width: 50%;
        text-align: center;

        img {
            width: 100%;
        }
    }

    &-body {
        flex: 1;
        width: 50%;
        padding: $gutter-height $gutter-width $gutter-width $gutter-width * 2;

        small {
            color: #005df9;
        }
    }
}
