.header {
    width: 100%;
    position: absolute;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $gutter-width;
        padding-left: $gutter-width * 2;
    }

    &-menu {
        &:hover {
            cursor: pointer;
        }
    }
}
