.header {
    width: 100%;
    position: absolute;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $gutter-width / 2;
        padding-left: $gutter-width / 2;

        @media only screen and (min-width: 580px) {
            padding: $gutter-width;
            padding-left: $gutter-width;
        }

        @media only screen and (min-width: 870px) {
            padding-left: $gutter-width * 2;
        }
    }

    &-menu {
        &:hover {
            cursor: pointer;
        }
    }
}
